html {
  --PRIMARY-BACKGROUND-COLOR: #ffffff;
  --PRIMARY-TEXT-COLOR: #2e2e2e;
  --PRIMARY-GREY: #a1a1a1;
  --SECONDARY-GREY: #5a5a5a;
  --ACCENT: #0d5994;
}

html[data-theme="dark"] {
  --PRIMARY-BACKGROUND-COLOR: #101010;
  --PRIMARY-TEXT-COLOR: #ffffff;
  --PRIMARY-GREY: #a1a1a1;
  --SECONDARY-GREY: #5a5a5a;
  --ACCENT: #74b9ff;
}

.App {
  min-height: 100vh;
  background-color: var(--PRIMARY-BACKGROUND-COLOR);
  color: var(--PRIMARY-TEXT-COLOR);
  transition: all .2s ease-in-out;
}

.container {
  max-width: 1024px;
  min-height: 100vh;
  padding: 100px 0 100px 200px;
}

@media all and (max-width: 1280px) {
  .container {
    padding: 2.5vh 1.8vw 0 4vw;
  }
}

.themer {
  outline: none;
  border: none;
  padding: 12px;
  cursor: pointer;
  background: var(--PRIMARY-TEXT-COLOR);
  color: var(--PRIMARY-BACKGROUND-COLOR);
  font-weight: 300;
  font-size: 16px;
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 50px;
}

a,
a:visited,
a:active,
a.bar {
  text-decoration: none;
  color: inherit;
  color: var(--ACCENT);
  transition: all 0.1s ease-in-out;
}

a.bar {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

a.bar:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: -100%;
  opacity: 1;
  background: var(--ACCENT);
  transition: all .1s ease-in-out;
}

a.bar:hover:after {
  opacity: 1;
  left: 0;
}